<div class="row top">
  <div class="large-2 columns">
    <section id="profile">
      <%= erb :'users/_user_profile' %>
    </section>
  </div>
  <div class="large-8 columns">
    <div class="row">
        <section class="large-4 columns" id="scoreboard">
          <h2>scoreboard</h2>
          <%= erb :'users/coaches/_scoreboard', layout: false, locals: { players: @players } %>
        </section>
        <section class="large-6 columns" id="record_points">
          <h2>record points</h2>
          <%= erb :'scores/_new', locals: { challenges: @challenges, players: @players } %>
        </section>
    </div>
  </div>
</div>


<div class="row bottom">
<section class="large-6 columns" id="challenge_list">
  <h2>challenges</h2>
  <% @challenges.each do |challenge| %>
  <%= erb :'activities/_activity', locals: { challenge: challenge } %>
  <% end %>
</section>

<section class="large-4 columns">
  <h2>new challenge</h2>
  <%= erb :'activities/_new' %>
</section>
</div>